@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,400;1,600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.wrapper{
	width: 100%;
	height: 100vh;
	background: url('login_bg.png') no-repeat ;
	background-size: cover;
}

.loginform{
	background: #e5e4e9;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 380px;
	width: 100%;
	height: auto;
	border-radius: 5px;
	padding: 40px 30px 40px 0;
	box-shadow: 0 0 50px #1c1447;
}

.loginform .title{
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #4a424f;
	margin-bottom: 35px;
}

.input-form{

	margin-bottom: 35px;
	position: relative;

}

.input-form .input{
width: 100%;
padding: 16px;
padding-left: 80px;
font-size: 18px;
text-align: center;
border: transparent;
color: #fff;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
background: #4a424f;
box-shadow: inset 0 0 5px  #1c1447;
outline: none;


}


.input-form:after{

	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background: #eb4e3d;

}

.input-form:before{
content: "";
position: absolute;
top: 6px;
left: 70px;
width: 3px;
height: 80%;
background: #eb4e3d;

}

.btn{

	width: 200px;
	background:#eb4e3d;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
	padding: 12px;
	box-shadow: 0 2px 2px #1c1447; 
}

.btn a{

	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 24px;
}

.input-form  .fas {
position: absolute;
top: 18px;
left: 35px;
font-size: 20px;
color: #fff;

}

input-placeholder{
	color: #fff;
}